<div class="background">
  <div class="card">
    <div class="section-header-login">
      <div class="title">
        <p class="textMDX">Welcome to Lorem</p>
        <h2 class="textXX">Sign in</h2>
      </div>

      <div>
        <p class="caption">No account?</p>
        <a href="#">Sign up</a>
      </div>
    </div>

    <form class="form-login" [formGroup]="loginForm">
      <div class="form-login__formfield">
        <label for="email" class="form-login__label"
          >Enter your username or email address</label
        >
        <input
          id="email"
          type="text"
          class="form-login__input"
          placeholder="Username or email address"
          formControlName="email"
        />
      </div>

      <div class="form-login__formfield">
        <label for="password" class="form-login__label"
          >Enter your Password</label
        >
        <input
          id="password"
          type="password"
          class="form-login__input"
          placeholder="Password"
          formControlName="password"
        />
        <a class="form-login__forgot-password" href="">Forgot Password</a>
      </div>
    </form>

    <div class="actions">
      <button
        class="actions__btn actions__btn--orange"
        (click)="signIn()"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
      <p class="actions__or textMD">Or</p>
      <div class="actions__other-options">
        <button class="actions__btn actions__btn--light-orange">
          <img
            class="actions__logo"
            src="../../../assets/svgs/google.svg"
            alt="Sign in with Google"
          />
          <span>Sign in with Google</span>
        </button>

        <button class="actions__btn">
          <img
            class="actions__logo"
            src="../../../assets/svgs/Facebook.svg"
            alt="Sign in with Facebook"
          />
        </button>
      </div>
    </div>
  </div>
</div>
